@import url(https://fonts.googleapis.com/css2?family=Honk&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Madimi+One&family=Sixtyfour&family=Yeseva+One&display=swap);
/*font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;*/
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Honk&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Madimi+One&family=Pattaya&family=Sixtyfour&family=Yeseva+One&display=swap);
/*.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}*/
@font-face {
    font-family: 'Gladiola' ;
    src: url(./fonts/Gladiola.otf);
}
*{padding: 0;
    margin: 0; 
    box-sizing: border-box;}

h2, h1, h3 {font-family: 'Gladiola'; font-size: xx-large; font-style: bold;}

p, label, a {font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;}

body {background-color: #f9adb7 ;}

/*BARRA DE NAVEGACION*/
nav
{display: flex;
    background-color: #f9adb7; 
    padding: 30px; 
    font-size: large;
    font-weight: 400;
    font-style: normal; 
    font-weight: 400;
}
span {font-family: "Bebas Neue", sans-serif}
.nav-link
{ font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    transition: 1.5s;
}
nav a:hover {
    size: 90px; 
    transform: scale(0.8);
    transition: all 1.5s;
    }
/*FIN BARRA DE NAVEGACION*/

/*HEADER*/
header {display:flex; width: 100%;background-color: #f9adb7; padding-left: 40px;}
.topNav {
    display: flex;
    overflow: auto;
    background-color: #f9adb7;
    padding: 10px; 
    width: 100%;
    height: 50px;  
    font-size: large; 
    text-shadow: 0px  1px 1px black,
    0px  0px 1px black;}
.item1 {
    color: green; width: fit-content;
}
.item2 {
    width: fit-content; font-size: large;}
.item2 i {
    color: rgb(165, 135, 35); margin-right: 10px;
}
.item2 p {
    color: black; font-weight: 400 !important;
}


/*FIN DE HEADER*/

/*MAIN CON IMAGEN Y DESCRIPCION*/
div a img {height: 60px;}
.imagenPrincipal {width: 100%;}
.textoYDescripción {display: flex;background-color: #9979c1; padding: 30px;}
.imagenDescripción {width: 50%; display: flex; justify-content: center; align-items: center; }
.imagenDescripción img {width: 50%; height: 35vw; border-radius: 50%;border-radius: 45%;border: 5px solid #f9adb7;}
.textoDescripción {width: 50%; text-align: center; align-self: center; font-size: large;}

/*Finaliza MAIN CON IMAGEN Y DESCRIPCION*/

/*SERVICIOS*/
.card {background-color:#f9cbc3 ; }
.card-title {
    background-color: rgba(192, 192, 192, 0.555)  !important; border: 2px solid; font-family: 'Gladiola'; font-size: xx-large
}
.card-text {
    background-color:  rgba(182, 182, 182, 0.555)!important; border: 2px solid;
}
/*Finaliza SERVICIOS*/

/*Consulta Inicio*/
.consultaInicio{
    display: flex; height: fit-content; padding-top: 40px; padding-bottom: 30px;
}
.consultaTextoInicio { 
    display: block;
    width: 50%;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    text-align: center;
    align-content: center;
    height: fit-content;
}
.consultaInicioConsulta  {
    display: block;
    border: 5px;;
    height: fit-content;
    align-content: center;
}
label, input, textarea, form {display: block;padding: 2px;}
/*FINALIZA Consulta Inicio*/


/*Contacto Inicio*/
footer {display: flex; padding-top: 40px;background-color: #9979c1 !important;}

.contactosInicio {width: fit-content; align-content: center; padding-left: 40px !important;}

footer div dl {list-style-type: none; align-items: center !important; margin-left: 50px;}
footer div dl li {padding: 20px;}
footer div dl p {font-size: medium !important;}
footer div dl li i {font-size: 50px !important}

.wsp {color: green ; transition: 1.5s;}
.wsp:hover {size: 80px; transform: rotate(10deg) scale(0.9);transition: 1.5s;}
.twitter {color: blue ; transition: 1.5s}
.twitter:hover {size: 80px; transform:rotate(10deg) scale(0.9);transition: 1.5s;}
.insta {color: purple ; transition: 1.5s}
.insta:hover {size: 80px; transform:rotate(10deg) scale(0.9);transition: 1.5s;}
.correo {color: yellow ; transition: 1.5s}
.correo:hover {size: 80px; transform:rotate(10deg) scale(0.9);transition: 1.5s;}
.location {color: red; transition: 1.5s}
.location:hover {size: 80px; transform:rotate(10deg) scale(0.9);transition: 1.5s;}

/*FINALIZA Contacto Inicio*/

/*PAGINA CONTACTO*/

.consultaContacto {display: flex;}
.contactosContacto {list-style-type: none; align-items: center !important; margin-left: 80px; justify-content: center !important;padding: 20px; font-size: 25px !important; width: fit-content;}
.contactosContacto i {font-size: 60px;transform:  scale(0.9);transition: 1.5s; width: fit-content;}
.contactosContacto p {padding: 20px;}
.contactosContacto dl h3 {margin-bottom: 60px !important;}
.consultaTextoContacto {text-align: start;}
.mainContacto {display: flex; padding-top: 40px;}

/* FINALIZA  PAGINA Contacto */

/*Pagina Fotografía*/
.descripciónFotografía
    {text-align: left;margin-top: 110px;margin-bottom: 30px;}
.imagenesFotoTodas{display: flex;}
.imagenesFotoTodas img{width: 100%; height: auto;}
.imagenesFoto1 {display: block;width: 500px;}
.imagenesFoto2 {display: block;width: 500px;}
.imagenesFoto3 {display: block;width: 500px;}

/*Finaliza Pagina Fotografía*/

/*PAGINA Community*/
.div1Community {display: flex; margin-top: 110px;}
.community1 {text-align: left; width: 50%; margin-left: 70px;}
.community1 h2{text-align: center;}
#imagenCommunity1 {width: 300px; height: 250px; margin-left: 50px}
#imagenCommunity2 {width: 300px; height: 250px; margin-left: 50px}

/*Finaliza Pagina Community*/

/*PAGINA Proyectos*/

.descripciónProyecto
    {text-align: left; margin-top: 110px;}
.titulosProyecto
    {text-align: center; margin-top: 40px;margin-bottom: 40px;}
.imagenesProyecto
    {display: flex;height: 300px;width: auto;}

/*FINALIZA PAGINA PROYECTOS*/


/*MEDIA QUERIS*/
@media only screen and (min-width:320px) and (max-width: 460px)  {
    /*Header*/
    header {padding-left: 1px;}
    .item2 {font-size: small;}
    .item1 {font-size: small; width: min-content;}
    /*Main*/
    .textoYDescripción {display: block; font-size: small;}
    .textoDescripción {width: 100%; font-size: small;}
    .imagenDescripción {display: flex;justify-content: center; margin-left: 80px;}
    .imagenDescripción img {width: 150px; height: 300px;}
    /*Servicios*/
    .card {font-size: small;display: block;}
    .card img {height: 500px;}
    /*Consulta*/
    .consultaInicio {display: block; padding-right: 30px;}
    .consultaTextoInicio {width: 100%;}
    /*Contacto*/
    footer {display: block; align-items: start!important; padding: 1px !important; }
    footer div {padding: 1px !important; width: 100%;}
    
    .contactosInicioContactanos {width: 100% !important;}

    .contactosInicio {align-items: start;padding-left: 1px ;}
    /*Pagina Contacto*/
    .contactosContacto {margin-left: 0px;font-size: small;}
    .contactosContacto dl p {font-size: small;}
    .footerContacto {padding: 0 !important;}
    .consultaContacto {font-size: medium;}
    .mainContacto {display: block;}
}

@media only screen and (min-width:450px) and (max-width: 1600px) {
    /*Consulta*/
    .consultaTextoInicio {padding: 10em 0; }
    /*Contacto*/
    
}
/*FIN DE MEDIA QUERIS*/